html,
body{
    height: 100%;
}

nav{
    background-color: rgb(211, 211, 211);
    margin-bottom: 10px;
}

nav button{
    background-color: none;
    border-style: none;
    height: 50px;
    width: 15%;
    font-size: large;
}

/*Whiteboard*/

.wbTop{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(199, 194, 194);
}

.wbTopCorner{
    width: 10%;
    height: 60px;
    background-color: grey;
    border-radius: 10px;
}

.wbBottomCorner{
    width: 10%;
    height: 60px;
    background-color: grey;
    border-radius: 10px;
}

#wbCenter{
    display: flex;
    height: 350px;
    justify-content: space-between;
}

#canvas{
    padding: 20px;
    flex: 1;
    display: flex;
    gap: 10px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
}

.wbLateral{
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(199, 194, 194);
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wbLateralTop,
.wbLateralBottom{
    width: 60px;
    height: 15%;
    align-self: center;
    background-color: grey;
    border-radius: 10px;
}

.wbLateralTop{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.wbLateralBottom{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.postIt{
    background-color: rgb(243, 243, 92);
    width: 20%;
    font-weight: bold;
    height: 40%;
}

.postIt ul{
    font-weight: 100;
}

/*Post It View*/

#PView{
    background-color: rgb(243, 243, 92);
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
}

#titlePView{
    font-weight: bold;
    align-self: center;
    margin-bottom: 15px;
}

/*Add PostIt*/

#formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addTitle{
    font-size: large;
    height: 30px;
    margin-bottom: 20px;
    border: 2px gray solid;
}

.addTask{
    font-size: large;
    height: 30px;
    border: none;
    border-bottom: 2px solid black;
    margin-right: 15px;
    margin-bottom: 10px;
}

.btnDelete{
    font-size: large;
    border: none;
    background-color: red;
    font-weight: bold;
}

label{
    display: none;
}

#btnAddTask{
    width: 20%;
    font-size: large;
    margin-bottom: 20px;
}

#btnStickPostIt{
    width: 20%;
    font-size: large;
    background-color: rgb(87, 139, 87);
}
